<h1>The Krusty Crab</h1>

<h2>Burgers On the Ready</h2>

<ul>
    {{#each burgers}} {{#unless devoured}} {{> burger/burger-block devoured=true}} {{/unless}} {{/each}}
</ul>

<h2>Burgers that have been eaten</h2>

<ul>
    {{#each burgers}} {{#if devoured}} {{> burger/burger-block devoured=false}} {{/if}} {{/each}}
</ul>

<h2>Order a burger</h2>
<form class="burger-order">

    <div class="form-group">
        <label for="patty">Burger:</label>
        <input type="text" id="patty" burger="name">
    </div>

    <div class="form-group">
        <label for="submit">order?</label><br>
    </div>

    <button type="submit">Add an order</button>
</form>